# Python Virtual Environment
.venv/

# Spark Datasets
/data/

# Training outputs
runs/

# Infer:runs outpus
src/infer_runs/Images_predict/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc


